<ion-content>
  <ion-header>
    <ion-toolbar translucent color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngFor="let pages of appPages">
    <ion-menu-toggle auto-hide="true">
      <ion-item [routerLink]="pages.url" routerDirection="forward">
        <ion-icon [name]="pages.icon" slot="start"></ion-icon>
          {{pages.title}} 
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
</ion-content>
