<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>DemoApp</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-menu side="start" content-id="main-content" class="menu">
    <ion-content>
      <app-sidenav></app-sidenav>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
